<%# rails has action view helpers tha help us build elements %>


<%# form_with looks for an url based upon our model like it must do post-user, therefore we must have a post-request %>
<%= form_with model: @user,url: sign_up_path do |form|%>

    <%# we can create helper elements, like label & input-field also be specific with what type that input-field must be. %>
    <div class="my-3 py-2">
        <%= form.label :email %>
        <%= form.text_field :email, class:"form-control", placeholder:"j.doe@plansource.com"%>
    </div>
    <div class="my-3 py-2">
        <%= form.label :password %>
        <%= form.password_field :password, class:"form-control", placeholder:"********"%>
    </div>
    <div class="my-3 py-2">
        <%= form.label :password_confirmation  %>
        <%= form.password_field :password_confirmation, class:"form-control", placeholder:"********"%>
    </div>

    <div class="my-3">
        <%= form.submit "Sign Up", class:"btn btn-lg btn-block btn-primary"%>
    </div>
    
<% end %>